body {
	background: aqua;
}

.foodList {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

section {
	border: 1px solid red;
	padding: 2em;
	width: 200px;
	align-content: center;
}
